*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.col-70{
    width: 70%;
    padding-top: 65px;
    display: flex;
    justify-content: flex-start;
}
.title h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4E5150;
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.col-45{
    width: 45%;
    padding-right: 110px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-information{
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-information h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}
label{
    display: block;
    margin-top: 15px;
    margin-bottom: 7px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
}
.input-container{
    display:flex;
    flex-direction: row;
    width:100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #828282;
    border-radius: 12px;
}
input{
    width:100%;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}
.icon{
    float: left;
    padding-left: 14px;
    padding-right: 18px;
    color: #828282;
    font-size:48px; 
}
.material-icons.md-36{
    font-size:36px;
}
.shipping-address{
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.shipping-address h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}
#name{
    color: #333333;
}
#name::placeholder{
    color: #333333;
}
.row-with-2cols{
    width: 100%;
    /* margin-top: 15px; */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
#label{
    /* display: block; */
   
}
select{
    width:100%;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}
.checkbox{
    display: block;
    position: relative;
    margin-top: 25px;
    padding-left:25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox p{
    padding-top: 5px;
    margin-left: 11px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
}
/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    border: 1px solid #828282;
    border-radius:4px;
}
/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: rgb(50, 130, 255);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
button{
    width: 40%;
    margin-left: 60%;
    margin-top: 23px;
    background: #F2994A;
    border-radius: 12px;
    border: none;
    
}
button p{
    margin: 0px;
    padding: 17px 45px 17px 45px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.col-25{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.box{
    width: 100%;
    margin-top: 75px;
    padding: 0px 35px 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 12px;
}
.production-box{
    margin-bottom: 95px;
}
.production{
    margin-top: 33px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.photo{
    width: 50%;
}
img{
    border-radius: 12px;
    max-width: 100%;
}
.price-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 15px;
    box-sizing: border-box;
}
.price-box h6{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #4E5150;
}
.price{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.discount{
    margin-right: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #F2994A;
}
.count{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #4E5150;
}
.item-number-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #828282;
    border-radius: 12px;
}
.minus{
    padding-left:7px;
    padding-right: 7px;
    background: #E0E0E0;
    border-radius: 4px;
    font-size: 20px;
    color: #828282;
    cursor: pointer;
}
.plus{
    padding-left:7px;
    padding-right: 7px;
    background: #E0E0E0;
    border-radius: 4px;
    font-size: 20px;
    color: #828282;
    cursor: pointer;
}
.num{
    text-align: center;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.shipping{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0px;
    border-top:  1px solid #BDBDBD;
}
.total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0px;
    border-top:  1px solid #BDBDBD;
}
.total-price h6{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}
.total-price p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}
.created{
    padding-top: 95px;
    padding-bottom: 24px;
}
.created p ,a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}
.created a{
    font-weight: bold;
}

@media only screen and (max-width:800px){
  .title{
        padding-left: 18px;
    }
    .col-70{
        width: 100%;
        padding-top: 30px;
    }
    .title h4{
        font-size: 24px;
        line-height: 29px;
    }
    .row{
        width: 100%;
        padding-left: 18px;
        padding-right: 18px;
        flex-direction: column-reverse;
    }
    .col-45{
        width: 100%;
        padding-right: 0px;
    }
    .contact-information h4{
        font-size: 14px;
        line-height: 17px;
    }
    label{
        font-size: 10px;
        line-height: 12px;
    }
    input{
        font-size: 12px;
        line-height: 15px;
    }
    .icon{
        padding-left: 10px;
        padding-right: 10px;
    }
    .material-icons.md-36{
        font-size:24px;
    }
    .shipping-address h4{
        font-size: 14px;
        line-height: 17px;
    }






    
    .row-with-2cols{
        width: 100%;
        /* margin-top: 15px; */
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
    #label{
        /* padding-top: 105px; */
        margin-bottom: 17px;
        color: red;
    }
    select{
        width:100%;
        border: none;
        outline: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #828282;
    }







   
    .checkbox p{
        margin-left: 5px;
        font-size: 10px;
        line-height: 12px;
    }
    .col-25{
        width: 100%;
    }
    .box{
        margin-top: 25px;
    }
    .price-box{
        padding: 10px 58px 10px 15px;
    }
    .price-box h6{
        font-size: 12px;
        line-height: 15px;
    }
    .discount{
        font-size: 14px;
        line-height: 17px;
    }
    .count{
        font-size: 10px;
        line-height: 15px;
    }
    .total-price h6{
        font-size: 14px;
        line-height: 17px;
    }
}



