body{
    margin: 0;
    width: 100%;
}
.person-information{
    width: 100%;
    padding-top: 41px;
    box-sizing: border-box;
    text-align: center;
}
.person-image{
    max-width: 147px;
    border-radius: 16px;
}
.person-name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #4E5150;
}
.person-country{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
}
.account{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.account-item{
    width: 100px;
    height: 67px;
    background: #E5E5E5;
    border-radius: 12px;
    margin-right: 20px;
}
.account-number{
    margin-top: 15px;
    margin-bottom: 3.1px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #4E5150;
}
.account-text{
    margin-top: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}
.gallery{
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding-bottom: 140px;
}
.gallery img{
    border-radius: 12px;
}
.row1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
#vase{
    width: 25%;
    margin-right: 50px;
}
#sofa{
    width: 45%;
}
.row2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.row2-col1{
    width: 47.3%;
    margin-right: 50px;
}
#bath{
    width: 100%;
}
.row2-col1-row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
#room{
    width: 48.1%;
}
#plant{
    width: 48.1%;
}
.row2-col2{
    display: flex;
    flex-direction: row;
    width: 22.7%;
}
#lamp{
    width: 100%;
}
.footer{
    width: 100%;
}
.footer p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #B9BDCF;
}
.footer a{
    font-weight: bold;
    color: #B9BDCF;
}
@media screen and (max-width:800px) {
    .person-information{
        padding-top: 17.61px;
    }
    .person-name{
        font-size: 14px;
        line-height: 17px;
    }
    .person-country{
        font-size: 10px;
        line-height: 12px;
    }
    .account-item{
        width: 78px;
    }
    .account-number{
        font-size: 12px;
        line-height: 15px;
    }
    .account-text{
        font-size: 12px;
        line-height: 15px;
    }
    .row1{
        margin-top: 25px;
    }
    #vase{
        margin-right: 25px;
    }
    .row2{
        margin-top: 25px;
    }
    .row2-col1{
        margin-right: 25px;
    }
    .row2-col1-row2{
        margin-top: 25px;
    }
}